<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	
    <!--Let browser know website is optimized for mobile-->
    
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Cadastramento de Clientes</title>
</head>
<body>
	
	<nav>
	  <div class="nav-wrapper">
	    <a href="" class="brand-logo"> Aves Ideal</a>
	    <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <li><a href="/index">Home</a></li>
	      <li><a href="/lista">Listar Clientes</a></li>	      
	      <li><a href="/cadastro">Cadastrar Clientes</a></li>
	    </ul>
	  </div>
	</nav>
	
            
   <!--JavaScript at end of body for optimized loading-->
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>   
   
</body>
</html>